body {
    text-align: center;
    font-size: 2rem;
}

button {
    font-size: 1.5rem;
    margin: 0.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.score {
    display: flex;
    gap: 4rem;
    justify-content: center;
}